.row
  .small-12.columns
    %ul.tabs{data:{tab: true}}
      %li.tab-title.active
        =link_to "Sponsors", "#sponsors"
      %li.tab-title
        =link_to "Homepage Videos", "#videos"
      %li.tab-title
        =link_to "Paragraphs", "#paragraphs"
    .tabs-content
      = render 'shared/sponsors_section'
      = render 'shared/videos_section'
      = render 'shared/paragraphs_section'
.row
  .small-12.columns
    =link_to "Log Out of Dashboard", logout_path, method: :post, class: "button logout-button"