.row.white
  .small-12.column
    %p.centered{:style => "font-size: 10px;"}
      © 2015 Project Airtime | Website by
      %span
        =link_to "Patrick", "http://patrickjones.me", target: "_blank", class: "orange"
      from
      %span
        =link_to "FitnessTexter", "http://boostfitnessmarketing.com/fitnesstexter/", target: "_blank", class: "orange"
