.row.white
  .small-12.column
    %p.centered{:style => "font-size: 12px;"}
      © 2017 Project Airtime | Website by
      %span
        =link_to "Patrick Jones", "http://patrickjones.me", target: "_blank", class: "orange"
        from
        =link_to "DoggieDashboard.com", "http://doggiedashboard.com", target: "_blank", class: "orange"
      / %span
      /   - if session[:active_login] == true
      /     =link_to "| Admin Dashboard", dashboard_path, style: "color: white;"
      /   - else
      /     =link_to "| Admin Login", admin_path, style: "color: white;"
