.row.white
  .small-12.large-4.columns
    %h3.centered.white
      Mission
    %p{:style=>"font-size: 12px;"}
      Project Airtime is a Nevada 501 (c) 3 non profit based in Draper, UT. We take EVERYONE flying. When we save EVERYONE - we mean it. No exclusions. We have spent our entire lives preparing for these flights and there is nothing we'd rather do with our time. From special needs individuals to those with brain and spinal cord injuries - those with illness, the elderly and veterans - our co-pilots have one thing in common - they want to fly!
  .small-12.large-4.columns
    %h3.centered.white
      Links
    %p
      =link_to "https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=SRUgEJqIjH8LGQfbqBW1dedWhQzPhHSQHMnx31dD6xNqhxFyLMNKYxNt3zi&dispatch=5885d80a13c0db1f8e263663d3faee8d99e4111b56ef0eae45e68b8988f5b2dd", style: "color: white;", target: "_blank" do
        Make a PayPal Donation
    %p
      =link_to "https://www.youtube.com/watch?v=kGl9yLFemo4", style: "color: white;", target: "_blank" do
        Watch a Flight on YouTube
    %p
      =link_to "#{}", style: "color: white;", target: "_blank" do
        Sign Up for Your Flight
  .small-12.large-4.columns
    %h3.centered.white
      Contact Information
    %p{:style=>"margin-bottom: -10px;"}
      Chris Santacroce
      %br
      Draper, Utah
      %br
      projectairtime@gmail.com
      %br
      Tel: 801-706-6076
    =link_to "https://www.facebook.com/projectairtime", style: "color: white;", target: "_blank" do
      %i.fi-social-facebook{:style=>"font-size: 64px; padding: 0px 5px"}
    =link_to "http://www.twitter.com/projectairtime", style: "color: white;", target: "_blank" do
      %i.fi-social-twitter{:style=>"font-size: 64px; padding: 0px 5px"}
    =link_to "http://instagram.com/projectairtime", style: "color: white;", target: "_blank" do
      %i.fi-social-instagram{:style=>"font-size: 64px; padding: 0px 5px"}
    =link_to "#", style: "color: white;", target: "_blank" do
      %i.fi-mail{:style=>"font-size: 64px; padding: 0px 5px"}
    = javascript_include_tag "application"





