.row.centered
  .small-12.large-4.columns
    %h3.centered.white
      Goals
  .small-12.large-4.columns
    %h3.centered.white
      Mission
  .small-12.large-4.columns
    %h3.centered.white
      Links
