.content#paragraphs
  = form_tag sponsors_path, method: :post do |x|
    %fieldset
      %legend Paragraph Edit Form
      .small-8.column
        = label_tag :title, "Paragragh Title"
        = text_field_tag :content, nil, placeholder: "Type paragraph content here...", class: "radius"
      .small-4.columns.centered
        =submit_tag "Add/Edit Paragraph", class: "button"
      .small-12.columns
        - @paragraphs.each do |x|
          .small-12.large-3.columns
            %span{style: "font-size: 12px;"}
              =link_to "X", sponsor_path(x.id), method: :delete, class: "delete-sponsor"
              =x.name