.row
  .small-12.column
    %h3 Project Airtime Founder: Chris Santacroce
.row
  .small-12.large-3.column
    %img{:src => "http://redbullairforce.com/cs/wp-content/Cimy_User_Extra_Fields/chrissantacroce/avatar/pilot4.jpg"}
  .small-12.large-9.column
    %p
      Paragliding is all Chris has ever done, and he likes it that way. He was a full-time paragliding professional at age 17, ranking as one of North America's top ten cross-country paragliders for a full decade before winning the continent's championship and proving equal skill in jaw-dropping aerobatics. Chris is also a teacher's teacher. He's one of the world's foremost paragliding and powered paragliding instructors, and he serves an Instructor Administrator for the national organization for both sports. Chris lives and teaches in the world-class paragliding destination of Salt Lake City with his wife, son and daughter.