.row
  .small-12.column
    %h3 Project Airtime Founder: Chris Santacroce
.row
  .small-12.column
    %p
      %img{:src => "http://redbullairforce.com/cs/wp-content/Cimy_User_Extra_Fields/chrissantacroce/avatar/pilot4.jpg", style: "height: 150px; float: left; border: 2px solid black; margin-right: 10px;"}Chris Santacroce is a 42-year-old father of two who resides in Draper, Utah. He is from Colorado but has spent the last 25 years in Utah and now calls it his home. He has been a full-time paragliding professional since 1992 and spent 13 of those years as a Red Bull athlete traveling the world to showcase free flying sports in general. He flies everything from airplanes to powered and unpowered hang gliders – paragliders, paramotors and has hundreds of sky dives and BASE jumps.
    %p
      In 2000-something Chris suffered a life altering spinal cord injury which resulted in him spending some time in a wheelchair.As good fortune would have it, he made a 120% recovery but was left with a different view of the world and an improved view of life.
    %p
      He went from a wholehearted "look at me and look what I can do" sort of attitude to a world where the only question was, What can I do for you?
    %p
      Chris answered that question by devoting his life to taking everyone flying, with no exception.
    %p
      Project Airtime was born and now it is his his life's focus.
.row
  .large-4.small-12.columns.centered
    %iframe{:width => "300", height: 169, :src => "https://www.youtube.com/embed/8fOLPpmteTg", :frameborder => "0"}
  .large-4.small-12.columns.centered
    %iframe{:width => "300", height: 169, :src => "https://www.youtube.com/embed/RjDtVkBHRHw", :frameborder => "0"}
  .large-4.small-12.columns.centered
    %iframe{:width => "300", height: 169, :src => "https://player.vimeo.com/video/176882027", :frameborder => "0"}
.row
  .small-12.columns
    %p
      If you would like to contact Chris, please do so using projectairtime@gmail.com or 801-706-6076.