.row
  .small-12.columns
    = render 'shared/messages'
    %h4
      CHANGE EMAIL TO PA EMAIL WHEN DONE.
.row
  .small-6.column.small-centered
    = form_tag '/admin', method: :post, data: {abide: ''} do
      %fieldset
        %legend
        .small-12.column
          = label_tag :sig, "Please enter the website password for Project Airtime.", :style => "margin-top: 5px;"
          = password_field_tag :sign_in_password, nil, class: 'radius', required: ''
          %small.error You must enter a password before submitting the form.
        .small-12.column
          =submit_tag "Sign in to website dashboard", class: 'button right radius'
        .small-12.columns
          %p{style: "font-size: 13px;"}
            Did you forget the password? No worries!
            =link_to "Click here", resend_admin_password_path
            and the password will be emailed to
            %span{style: "font-weight: 900;"}
              projectairtime@gmail.com