%section.show-for-large-up{:style => "position: absolute;left: 65%; width: 30%; z-index: 1;"}
  = render 'shared/copilotform'
%section
  - background_image = ["https://drive.google.com/uc?id=0B3QIC8WbZNtOY1pJZjFUZG0tRUE"].sample
  %img{:src=>"#{background_image}", :style => "position: relative;"}
%section
  .row
    .small-12.large-4.columns
      %h4.centered
        What is Project Airtime?
      %p{:style=>"font-size: 14px;"}
        Project Airtime is a Nevada 501(c)3 non profit based in Draper, UT. We take EVERYONE flying. When we save EVERYONE - we mean it. No exclusions. From special needs individuals to those with brain and spinal cord injuries - those with illness, the elderly and veterans - our co-pilots have one thing in common - they want to fly!
    .small-12.large-4.columns
      %h4.centered
        How Do I Go Flying?
      %p{:style=>"font-size: 14px; border-left: 2px solid; border-right: 2px solid; padding: 0px 10px;"}
        Submit the form above, and Chris will contact you to work out your Project Airtime flight details. You'll go over travel and lodging logistics, as well as any flying specifics. If you've got a question, he has the answer. Flying normally takes place at Point of the Mountain, Utah, but can be arranged in other locations as well.
    .small-12.large-4.columns
      %h4.centered
        How Can I Help Out?
      %p{:style=>"font-size: 14px"}
        We're always looking for people or organizations that are willing to
        %span
          =link_to "volunteer time/skill", volunteer_path
        or
        %span
          =link_to "become a sponsor.", sponsorship_path
        If you have a skill that you think would be of service to the team, please shoot us an email and we'll be in touch. We're currently looking for people with expertise in partnerships, promotions and fundraising, though all support is welcome.
%hr
%section
  .row
    .small-12.column
      %h2.centered
        Project Airtime In the News
        %hr
  .row.centered{:style => "margin-bottom: 25px;"}
    .small-12.large-4.columns
      =link_to "http://kutv.com/features/pay-it-forward/flying-high-with-project-airtime", target: "_blank" do
        %img{:src => "http://kutv.com/resources/media/kutv-header-logo.png" }
    .small-12.large-4.columns
      =link_to "http://www.twincities.com/movies/ci_28290315/film-inspired-quadriplegic-he-hopes-his-own-story", target: "_blank" do
        %img{:src => "http://local.twincities.com/assets/logo-extra-large.png" }
    .small-12.large-4.columns
      =link_to "http://www.issaquahpress.com/2014/08/19/sky-riders-tandem-flights-help-everyone-take-wing/", target: "_blank" do
        %img{:src => "http://www.issaquahpress.com/wp-content/themes/revolution_news-21/images/header.gif" }
%section.show-for-large-up.skyblue
  .row
    %h2.centered
      Flight Videos
    %dl.tabs{:style => "margin-left: 14%;", :data => {:tab => ""}}
      %dd.active
        =link_to "Anton's Flight", "#video1"
      %dd
        =link_to "Ashlee's Flight", "#video2"
      %dd
        =link_to "JulieLynn's Flight", "#video3"
      %dd
        =link_to "Mark's Flight", "#video4"
    .tabs-content.centered
      #video1.content.active
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/rq7_dU64_7w", :frameborder => "0"}
      #video2.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/ihTW1Cqbr1w", :frameborder => "0"}
      #video3.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/8H75hB834CI", :frameborder => "0"}
      #video4.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/Jf2_qzNZjmM", :frameborder => "0"}
%section.show-for-medium-down
  .row
    .small-12.column
      %h2.centered
        Project Airtime Flight Videos
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/rq7_dU64_7w", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/ihTW1Cqbr1w", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/8H75hB834CI", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/Jf2_qzNZjmM", :frameborder => "0"}
%section
  .row
    .small-12.column
      %h2.centered Our Sponsors
      %p
        Project Airtime has many great supporters. It's nearly impossible to thank every single contributor but we will try. No matter who you are, our how you know us. From those that like and share or videos to the foundations that fund our efforts. You are Project Airtime! This is your organization and we will do everything we can to make you proud of it.
  .row
    .small-12.large-4.columns
      %p
        The Gubelman Foundation
      %p
        Taka Investments
      %p
        Jonathan Foster
      %p
        Shad Coulson
    .small-12.large-4.columns
      %p
        The Fabric of America Fund
      %p
        Tom Hapmpton
      %p
        Mark Burnett
      %p
        Jeff Howard
    .small-12.large-4.columns
      %p
        The Community Foundation of Utah
      %p
        Curtis Williams
      %p
        Lori Fitzgerald
      %p
        Steve Thorne