%section.show-for-large-up{:style => "position: absolute;left: 65%; width: 30%; z-index: 1;"}
  = render 'shared/copilotform'
%section
  - background_image = ["https://drive.google.com/uc?id=0B3QIC8WbZNtOakFodVpnMHYyQmc"].sample
  %img{:src=>"#{background_image}", :style => "position: relative;"}
%section
  .row
    .small-12.large-4.columns
      %h4.homepage-column.centered
        What is Project Airtime?
      %p.homepage-column{:style=>"font-size: 14px;"}
        Project Airtime is a Nevada 501 (c) 3 non profit based in Draper, UT. We take EVERYONE flying. When we save EVERYONE - we mean it. No exclusions. From special needs individuals to those with brain and spinal cord injuries - those with illness, the elderly and veterans - our co-pilots have one thing in common - they want to fly!
    .small-12.large-4.columns
      %h4.homepage-column.centered
        How Do I Go Flying?
      %p.homepage-column{:style=>"font-size: 14px;"}
        Fill out the contact form below, and Chris will give you a call to discuss getting you strapped in and flying with him. You'll go over travel and lodging logistics, as well as any flying specifics. If you've got a question, he has the answer. Flying normally takes place at Point of the Mountain, Utah, but can be arranged in other locations as well.
    .small-12.large-4.columns
      %h4.homepage-column.centered
        How Can I Help Out?
      %p.homepage-column{:style=>"font-size: 14px;"}
        We're always looking for people or organizations that are willing to donate time to the cause. If you have a skill that you think would be of service to the team, please shoot us an email and we'll be in touch. We're currently looking for people with expertise in partnerships, promotions and fundraising, though all support is welcome.
  %hr
%section.show-for-large-up
  .row
    %h2.centered
      Project Airtime Flight Videos
    %dl.tabs{:style => "margin-left: 14%;", :data => {:tab => ""}}
      %dd.active
        =link_to "Anton's Flight", "#video1"
      %dd
        =link_to "Ashlee's Flight", "#video2"
      %dd
        =link_to "JulieLynn's Flight", "#video3"
      %dd
        =link_to "Mark's Flight", "#video4"
    .tabs-content.centered
      #video1.content.active
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/rq7_dU64_7w", :frameborder => "0"}
      #video2.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/ihTW1Cqbr1w", :frameborder => "0"}
      #video3.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/8H75hB834CI", :frameborder => "0"}
      #video4.content
        %iframe{:width => "700", :height => "400", :src => "https://www.youtube.com/embed/Jf2_qzNZjmM", :frameborder => "0"}
  %hr
%section.show-for-medium-down
  .row
    .small-12.column
      %h2.centered
        Project Airtime Flight Videos
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/rq7_dU64_7w", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/ihTW1Cqbr1w", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/8H75hB834CI", :frameborder => "0"}
      .videoWrapper
        %iframe{:src => "https://www.youtube.com/embed/Jf2_qzNZjmM", :frameborder => "0"}
%section
  .row
    .small-12.column
      %h2.centered Our Sponsors
      %p
        Project Airtime has many great supporters. It's nearly impossible to thank every single contributor but we will try. No matter who you are, our how you know us. From those that like and share or videos to the foundations that fund our efforts. You are Project Airtime! This is your organization and we will do everything we can to make you proud of it.
  .row
    .small-12.large-4.columns
      %p
        The Gubelman Foundation
      %p
        Taka Investments
      %p
        Jonathan Foster
      %p
        Shad Coulson
    .small-12.large-4.columns
      %p
        The Fabric of America Fund
      %p
        Tom Hapmpton
      %p
        Mark Burnett
      %p
        Jeff Howard
    .small-12.large-4.columns
      %p
        The Community Foundation of Utah
      %p
        Curtis Williams
      %p
        Lori Fitzgerald
      %p
        Steve Thorne












