%section
  - background_image = ["https://drive.google.com/uc?id=0B3QIC8WbZNtOSWlNSlhOc0dkMUE","https://drive.google.com/uc?id=0B3QIC8WbZNtOQVY2WHNDWXFnYnc"].sample
  %img{:src=>"#{background_image}"}
%section
  .row.centered.show-for-large-up{:style=>"position: relative; bottom: 400px;"}
    .small-12.large-4.columns
      %h4.homepage-column
        What is Project Airtime?
    .small-12.large-4.columns
      %h4.homepage-column
        How Do I Sign Up?
    .small-12.large-4.columns
      %h4.homepage-column
        Where Do You Fly?
%section
  .row
    %h2.centered Our Sponsors
    %p
      Project Airtime has many great supporters. It's nearly impossible to thank every single contributor but we will try. No matter who you are, our how you know us. From those that like and share or videos to the foundations that fund our efforts. You are Project Airtime! This is your organization and we will do everything we can to make you proud of it.
    .small-12.large-4.columns
      %p
        The Gubelman Foundation
      %p
        Taka Investments
      %p
        Jonathan Foster
      %p
        Shad Coulson
    .small-12.large-4.columns
      %p
        The Fabric of America Fund
      %p
        Tom Hapmpton
      %p
        Mark Burnett
      %p
        Jeff Howard
    .small-12.large-4.columns
      %p
        The Community Foundation of Utah
      %p
        Curtis Williams
      %p
        Lori Fitzgerald
      %p
        Steve Thorne












