%section
  .row.centered.show-for-large-up{:style=>"position: absolute; z-index: 1; top: 450px;"}
    .small-12.large-4.columns
      %h4.homepage-column
        What is Project Airtime?
      %p.homepage-column{:style=>"font-size: 14px;"}
        Project Airtime is a Nevada 501 (c) 3 non profit based in Draper, UT. We take EVERYONE flying. When we save EVERYONE - we mean it. No exclusions. We have spent our entire lives preparing for these flights and there is nothing we'd rather do with our time. From special needs individuals to those with brain and spinal cord injuries - those with illness, the elderly and veterans - our co-pilots have one thing in common - they want to fly!
    .small-12.large-4.columns
      %h4.homepage-column
        How Do I Sign Up?
    .small-12.large-4.columns
      %h4.homepage-column
        How Do I Sign Up?
%section
  - background_image = ["https://drive.google.com/uc?id=0B3QIC8WbZNtOSWlNSlhOc0dkMUE","https://drive.google.com/uc?id=0B3QIC8WbZNtOQVY2WHNDWXFnYnc"].sample
  %img{:src=>"#{background_image}", :style => "position: relative;"}
%section
  .row
    %h2.centered Our Sponsors
    %p
      Project Airtime has many great supporters. It's nearly impossible to thank every single contributor but we will try. No matter who you are, our how you know us. From those that like and share or videos to the foundations that fund our efforts. You are Project Airtime! This is your organization and we will do everything we can to make you proud of it.
    .small-12.large-4.columns
      %p
        The Gubelman Foundation
      %p
        Taka Investments
      %p
        Jonathan Foster
      %p
        Shad Coulson
    .small-12.large-4.columns
      %p
        The Fabric of America Fund
      %p
        Tom Hapmpton
      %p
        Mark Burnett
      %p
        Jeff Howard
    .small-12.large-4.columns
      %p
        The Community Foundation of Utah
      %p
        Curtis Williams
      %p
        Lori Fitzgerald
      %p
        Steve Thorne












