%p
  Hi Project Airtime Team!
%p
  The password to log into the Admin section of ProjectAirtime.org is:
  %span{style: "font-weight: 900;"}
    =@password
%p
  =link_to "Click here to log in to Project Airtime.", "http://projectairtime.org/admin"
%p
  If you ever need help with the site, let me know!
%p
  ="-Patrick Jones (pmichaeljones@gmail.com)"