/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides
 *= require foundation_and_overrides
 /*
 *= require jquery-ui/datepicker
 */

@import 'foundation-icons';

.centered {
  text-align: center;
}

footer {
  background-color: #191b1f;
  display: block;
  height: 225px;
  position: relative;
}

.top-bar {
  height: 75px;
  background: white;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background: white;
  color: black;
  font-size: 16px;
}

.top-bar-section ul {
  margin-top: 15px;
}

ul.dropdown {
  margin-top: 0px;
}

.top-bar-section ul li {
  margin-right: 10px;
}

.top-bar-section .has-dropdown > a:after {
  border-color: rgba(0, 0, 0, 01) transparent transparent transparent;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button):hover {
  background: #00BFFF;
}

.homepage-column {
  background: rgba(255,255,255,.75);
}

/*Color Stuff*/

.skyblue {
  background: skyblue;
}

.white {
  color: white;
}

/*homepage video tabs */
.tabs dd > a, .tabs .tab-title > a {
  margin-left: 10px;
  background: black;
  color: white;
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: #008CBA;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background-color: grey;
  color: black;
}

.tabs dd>a, .tabs .tab-title>a {
  margin-left: 7px;
}



/*homepage contact form */
.copilot-form fieldset {
  background: rgba(255,255,255,.75);
  padding-bottom: 0px;
  margin-top: 5%;
  padding-top: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
